body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#grid {
    display: grid;
    grid-gap: 0.7rem;
    max-width: max-content;
    margin-bottom: 5rem;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* test */
.cell {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 5px;
}

.painter-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.cell:hover {
    opacity: 0.75;
    transition: 0.5s;
}

.empty {
    background-color: gray;
}

.wall {
    background-color: black;
    color: white;
}

.start {
    background-color: green !important;
}

.end {
    background-color: red !important;
}

.isPath {
    background-color: purple;
}


#cell-data,
#painter-form,
#generate_dijkstra {
    display: none;
}

/* .cell */

button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 2px solid gray
}

input[type="number"] {
    width: 4rem;
    margin: 0.5rem;
}

label{
    margin: 0.5rem;
}